@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@


@{
	var rootContent = Umbraco.ContentAtRoot();
	var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
	var logo = siteSettings?.SiteLogo;

	var selection = Model.Root().Children().Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}



<header id="header">
	<nav class="navbar">

		@if (logo != null)
		{
			<a href="/" class="logo">
				<img src="@logo.Url()" alt="@siteSettings?.SiteName" />
			</a>
		}
		else
		{
			<a href="/" class="logo">
				Onatrix
			</a>
		}

	

		@if (selection?.Length > 0)
		{
			<ul class="navbar-items-list" id="navbarMenu">
				@foreach (var item in selection)
				{
					<li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
						<a class="navbar-item-text" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
					</li>
				}
			</ul>
		}

		<div class="navbar-search-icon">
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>

		<button class="navbar-toggle" id="navbarToggle">
			<i class="fa-solid fa-bars"></i>
		</button>

	</nav>
</header>

<script> // Easier to handle here than adding a whole other file 
	document.getElementById("navbarToggle").addEventListener("click", function () {
		document.getElementById("navbarMenu").classList.toggle("open");
	});
</script>
