<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d1631e5-1f65-4cb2-b35a-673bb644d6e1" Alias="1-star.svg" Level="3">
  <Info>
    <Parent Key="aa0104e9-54cc-47f8-babc-5e3af81d21ec">Ratings</Parent>
    <Path>/Review/Ratings/starsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T00:39:27</CreateDate>
    <NodeName Default="1-star.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c4glj114/1-star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>