<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e657586-47fa-4474-a231-6f72ddf43660" Alias="2-star.svg" Level="3">
  <Info>
    <Parent Key="aa0104e9-54cc-47f8-babc-5e3af81d21ec">Ratings</Parent>
    <Path>/Review/Ratings/starsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T00:39:28</CreateDate>
    <NodeName Default="2-star.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/otemo5hb/2-star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>