<?xml version="1.0" encoding="utf-8"?>
<Media Key="79eae7de-a48a-4a26-8004-bcabc246c5d2" Alias="3-star.svg" Level="3">
  <Info>
    <Parent Key="aa0104e9-54cc-47f8-babc-5e3af81d21ec">Ratings</Parent>
    <Path>/Review/Ratings/starsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T00:39:27</CreateDate>
    <NodeName Default="3-star.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/frnerg2r/3-star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>