<?xml version="1.0" encoding="utf-8"?>
<Media Key="005edc84-317f-4651-8202-da99779fa174" Alias="4-star.svg" Level="3">
  <Info>
    <Parent Key="aa0104e9-54cc-47f8-babc-5e3af81d21ec">Ratings</Parent>
    <Path>/Review/Ratings/starsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T00:39:28</CreateDate>
    <NodeName Default="4-star.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ozqpzyte/4-star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>