<?xml version="1.0" encoding="utf-8"?>
<Media Key="f589c88b-b81c-48ca-8c4d-8c9fcd15dd75" Alias="5-star.svg" Level="3">
  <Info>
    <Parent Key="aa0104e9-54cc-47f8-babc-5e3af81d21ec">Ratings</Parent>
    <Path>/Review/Ratings/starsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T00:39:28</CreateDate>
    <NodeName Default="5-star.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pf0dwfyh/5-star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>