<?xml version="1.0" encoding="utf-8"?>
<Media Key="00351238-1bb5-4b52-8bca-4fb43c89e28d" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="efe4cae5-2538-4fa6-a79e-f28f3529de30">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T16:58:39</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zkxjpyvo/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>