<?xml version="1.0" encoding="utf-8"?>
<Media Key="abebbeaf-fa50-43eb-a7ee-2ef46f6c795d" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="dc759788-2d4a-4541-898a-10dbc635853a">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:06:21</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lubfsskl/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>