<?xml version="1.0" encoding="utf-8"?>
<Media Key="30397e4d-2e91-48a3-877a-031df80d0d0b" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="efe4cae5-2538-4fa6-a79e-f28f3529de30">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T16:55:15</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5bjxuuk/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>