<?xml version="1.0" encoding="utf-8"?>
<Media Key="75ea6a30-f4b6-453a-8794-a2f225b30efb" Alias="Chatting-details.svg" Level="2">
  <Info>
    <Parent Key="dc759788-2d4a-4541-898a-10dbc635853a">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/ChattingDetailssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T22:14:37</CreateDate>
    <NodeName Default="Chatting-details.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yllfrf3n/chatting-details.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>