<?xml version="1.0" encoding="utf-8"?>
<Media Key="40a7f988-bd35-47d3-96ce-5cc719a77453" Alias="Client Trust" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ClientTrust</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T20:23:14</CreateDate>
    <NodeName Default="Client Trust" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>