<?xml version="1.0" encoding="utf-8"?>
<Media Key="776ca513-a440-4f1c-8f2c-b862b6b4cc0b" Alias="client-trust.svg" Level="2">
  <Info>
    <Parent Key="40a7f988-bd35-47d3-96ce-5cc719a77453">Client Trust</Parent>
    <Path>/ClientTrust/clientTrustsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:24:42</CreateDate>
    <NodeName Default="client-trust.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2emm3fk1/client-trust.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>