<?xml version="1.0" encoding="utf-8"?>
<Media Key="47858e5e-d583-40d5-ab4b-2c22022c07f9" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="dc759788-2d4a-4541-898a-10dbc635853a">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:06:21</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vqzdpjmy/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>