<?xml version="1.0" encoding="utf-8"?>
<Media Key="71320bf5-4eab-4fc9-84a9-5ef1b102103c" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T23:04:49</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a41jbe3q/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>