<?xml version="1.0" encoding="utf-8"?>
<Media Key="64269ac5-097a-4f31-8f7f-1abffc497800" Alias="kevin-gardner.svg" Level="3">
  <Info>
    <Parent Key="0bf316b1-a3b7-4f14-bb72-6cf8e7b21035">Reviewer</Parent>
    <Path>/Review/Reviewer/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T00:41:57</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g2tjjbtb/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>