<?xml version="1.0" encoding="utf-8"?>
<Media Key="8317d4e9-cf30-49b7-b368-f79bc8fab25f" Alias="map-stockholm.svg" Level="2">
  <Info>
    <Parent Key="e53564a4-e1da-45a5-869f-ed3710e88655">Contact</Parent>
    <Path>/Contact/mapStockholmsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T16:52:00</CreateDate>
    <NodeName Default="map-stockholm.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dnulkyjl/map-stockholm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>