<?xml version="1.0" encoding="utf-8"?>
<Media Key="42c05da7-b5ac-4223-8b50-da87743ac890" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="efe4cae5-2538-4fa6-a79e-f28f3529de30">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T16:58:28</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kxqgfifx/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>