<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b419b99-43d8-4813-a426-36dd5173a668" Alias="NextProjectGuy.svg" Level="2">
  <Info>
    <Parent Key="e53564a4-e1da-45a5-869f-ed3710e88655">Contact</Parent>
    <Path>/Contact/NextProjectGuysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T21:03:33</CreateDate>
    <NodeName Default="NextProjectGuy.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nmtohcod/nextprojectguy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>