<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa0104e9-54cc-47f8-babc-5e3af81d21ec" Alias="Ratings" Level="2">
  <Info>
    <Parent Key="72a6ebbd-a539-4a71-a4e1-0f1f625ccda1">Review</Parent>
    <Path>/Review/Ratings</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-15T00:39:19</CreateDate>
    <NodeName Default="Ratings" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>