<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bf316b1-a3b7-4f14-bb72-6cf8e7b21035" Alias="Reviewer" Level="2">
  <Info>
    <Parent Key="72a6ebbd-a539-4a71-a4e1-0f1f625ccda1">Review</Parent>
    <Path>/Review/Reviewer</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-15T00:41:52</CreateDate>
    <NodeName Default="Reviewer" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>