<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb8930da-a1f1-41ee-9ccf-3319e491cbe1" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="dc759788-2d4a-4541-898a-10dbc635853a">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:05:52</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fcgdwkpk/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>