<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc759788-2d4a-4541-898a-10dbc635853a" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-06T18:02:55</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>