<?xml version="1.0" encoding="utf-8"?>
<Media Key="74b34ffb-e103-46a8-8529-4375a3096a9a" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-07T17:40:45</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>