<?xml version="1.0" encoding="utf-8"?>
<Media Key="cedb1f2f-05aa-45ce-bafa-ec51a99c5bd0" Alias="Statistic-Advisor.svg" Level="2">
  <Info>
    <Parent Key="dc759788-2d4a-4541-898a-10dbc635853a">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:06:16</CreateDate>
    <NodeName Default="Statistic-Advisor.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1wrhslfr/statistic-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>