<?xml version="1.0" encoding="utf-8"?>
<Media Key="b63f9e45-6863-4c9b-a10b-7f0b2fe01de8" Alias="Statement" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Statement</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T22:41:03</CreateDate>
    <NodeName Default="Statement" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>