<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6aac6bb-c3d5-4f15-9e14-ce40f7914535" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="dc759788-2d4a-4541-898a-10dbc635853a">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:06:16</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jf3bqrgo/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>