<?xml version="1.0" encoding="utf-8"?>
<Media Key="71d530b8-18c3-4236-9c74-6695602cc2d0" Alias="Tina-Fox-Signature.svg" Level="2">
  <Info>
    <Parent Key="02c6b35a-4551-4858-937b-33cd10e85689">About Callback</Parent>
    <Path>/AboutCallback/TinaFoxSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T16:58:47</CreateDate>
    <NodeName Default="Tina-Fox-Signature.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jkghpe4y/tina-fox-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>