<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f539182-6fc4-46f7-9f29-92e924ea0db9" Alias="tina-fox.svg" Level="2">
  <Info>
    <Parent Key="b63f9e45-6863-4c9b-a10b-7f0b2fe01de8">Statement</Parent>
    <Path>/Statement/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T22:41:45</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oawpc1o5/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>