<?xml version="1.0" encoding="utf-8"?>
<Content Key="83c93a35-7cc1-408c-b26d-b27e55340faf" Alias="2025-11-16 19:07 - Adrian Zafari" Level="2">
  <Info>
    <Parent Key="7a044e80-406e-421a-89c6-7e1eb5d9cb89">Form Submissions</Parent>
    <Path>/FormSubmissions/AdrianZafari</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T19:07:19</CreateDate>
    <NodeName Default="2025-11-16 19:07 - Adrian Zafari" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[adrian006@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Adrian Zafari]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0321654987]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>