<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6bbdbd8-dfbe-4352-9e59-243fa0196a3d" Alias="2025-11-13 20:33 - Tina Fox" Level="2">
  <Info>
    <Parent Key="7a044e80-406e-421a-89c6-7e1eb5d9cb89">Form Submissions</Parent>
    <Path>/FormSubmissions/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T20:33:07</CreateDate>
    <NodeName Default="2025-11-13 20:33 - Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[tinafox@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Tina Fox]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0321654987]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>