<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d87f7ec-be05-4693-a707-c8981747854d" Alias="2025-11-13 20:29 - John Doe" Level="2">
  <Info>
    <Parent Key="7a044e80-406e-421a-89c6-7e1eb5d9cb89">Form Submissions</Parent>
    <Path>/FormSubmissions/JohnDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T20:29:43</CreateDate>
    <NodeName Default="2025-11-13 20:29 - John Doe" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[johndoe@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John Doe]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0321654987]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>