<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6e0b12e-fc8e-425f-9898-51b7d1b76c4b" Alias="2025-11-16 19:03 - Adrian" Level="2">
  <Info>
    <Parent Key="7a044e80-406e-421a-89c6-7e1eb5d9cb89">Form Submissions</Parent>
    <Path>/FormSubmissions/Adrian</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T19:03:56</CreateDate>
    <NodeName Default="2025-11-16 19:03 - Adrian" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[adrian006@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Adrian]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Advice]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>