<?xml version="1.0" encoding="utf-8"?>
<Content Key="297b0240-df34-41af-81c3-00ab0dd0b27c" Alias="Contact" Level="2">
  <Info>
    <Parent Key="149affdc-0e99-4a8b-ae5a-1c2c648fd5ec">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-01T00:26:19</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65cb5dd1-97bd-4ee3-878f-1d7b5d9ea9b9">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30bd7dad-1041-4348-8390-b6fe56bfabd1",
      "key": "3da6bc78-0032-42d4-b3be-931563e7a15c",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "27e9abcb-270f-4d46-9349-97e05ed83d59",
              "mediaKey": "6b419b99-43d8-4813-a426-36dd5173a668",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "d024e8aa-ab8e-4bf0-9fad-228ad61d7b51",
      "key": "026a2375-4c22-46c8-88eb-4e916160ee2f",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5956c068-a930-4b88-ad2d-17e2565f6ad6",
              "mediaKey": "8317d4e9-cf30-49b7-b368-f79bc8fab25f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactFormLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64f8b6fa-549a-4e7c-afeb-25d6eef9ac53",
      "key": "591f0699-bb26-40eb-a933-1631257e11e4",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "06099d7f-37e5-40f6-9d87-b59b17d588bf",
      "key": "81952f1d-bf9b-4aa3-8ca9-ae564bce758d",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Business\nTax and Trusts\nFinancial Advice"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3da6bc78-0032-42d4-b3be-931563e7a15c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "026a2375-4c22-46c8-88eb-4e916160ee2f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3da6bc78-0032-42d4-b3be-931563e7a15c",
        "contentUdi": null,
        "settingsKey": "591f0699-bb26-40eb-a933-1631257e11e4",
        "settingsUdi": null
      },
      {
        "contentKey": "026a2375-4c22-46c8-88eb-4e916160ee2f",
        "contentUdi": null,
        "settingsKey": "81952f1d-bf9b-4aa3-8ca9-ae564bce758d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>