<?xml version="1.0" encoding="utf-8"?>
<Content Key="297b0240-df34-41af-81c3-00ab0dd0b27c" Alias="Contact" Level="2">
  <Info>
    <Parent Key="149affdc-0e99-4a8b-ae5a-1c2c648fd5ec">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-01T00:26:19</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65cb5dd1-97bd-4ee3-878f-1d7b5d9ea9b9">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>