<?xml version="1.0" encoding="utf-8"?>
<Content Key="667f0aa5-8d37-4117-ab78-280f30ceb44d" Alias="Services" Level="2">
  <Info>
    <Parent Key="149affdc-0e99-4a8b-ae5a-1c2c648fd5ec">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-05T15:42:08</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="18af7af9-34e7-485b-8418-e9aa385a2072">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "390df406-1c60-4c64-928b-864a1c3d68a6",
      "key": "9b8f5333-dbd0-499b-8ed0-49a3cd59ab18",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        }
      ]
    },
    {
      "contentTypeKey": "30bd7dad-1041-4348-8390-b6fe56bfabd1",
      "key": "d46fa010-e358-46e0-86d3-ff07225e8203",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5861f795-919b-44eb-abef-70dba4d46bb7",
              "mediaKey": "6b419b99-43d8-4813-a426-36dd5173a668",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "20727435-f38d-425c-b3e3-92031b542a49",
      "key": "04844a0d-281d-44af-af32-9dca890867e1",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "64f8b6fa-549a-4e7c-afeb-25d6eef9ac53",
      "key": "c918b7b9-576c-4b79-8a6a-d33268b8b9f9",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9b8f5333-dbd0-499b-8ed0-49a3cd59ab18",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d46fa010-e358-46e0-86d3-ff07225e8203",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9b8f5333-dbd0-499b-8ed0-49a3cd59ab18",
        "contentUdi": null,
        "settingsKey": "04844a0d-281d-44af-af32-9dca890867e1",
        "settingsUdi": null
      },
      {
        "contentKey": "d46fa010-e358-46e0-86d3-ff07225e8203",
        "contentUdi": null,
        "settingsKey": "c918b7b9-576c-4b79-8a6a-d33268b8b9f9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>