<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fb1bbbe-0019-41ab-9596-732575727bb3" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-07T17:42:48</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d262976e-22bf-4b26-8af0-c615c92235c4",
      "key": "fa93852c-d13a-4504-993b-eb7766ac8422",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "d262976e-22bf-4b26-8af0-c615c92235c4",
      "key": "294bcf9a-6b8a-4310-99a7-16e46a6d3adb",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "d262976e-22bf-4b26-8af0-c615c92235c4",
      "key": "92411efa-4d67-4935-9c3e-9835198fafd9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "fa93852c-d13a-4504-993b-eb7766ac8422",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "294bcf9a-6b8a-4310-99a7-16e46a6d3adb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "92411efa-4d67-4935-9c3e-9835198fafd9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fa93852c-d13a-4504-993b-eb7766ac8422",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "92411efa-4d67-4935-9c3e-9835198fafd9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "294bcf9a-6b8a-4310-99a7-16e46a6d3adb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "83124cf5-512f-4284-98c8-df47b975ba8f",
    "mediaKey": "1ad79342-11d1-4e33-ac94-a74dab128a8d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>