@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
        margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Colors */

    --clr-neutral: #ffffff;
    --clr-white: #F2EDDC;
    --clr-white-100: #F7F7F7;
    --clr-dark: #0E0E0E;
    --clr-primary: #4F5955;
    --clr-main-light: #606966;
    --clr-accent: #F2EDDC;
    --clr-secondary: #D9C3A9;
    --clr-gray-400: #4B5264;
    --clr-body-text: #5235656;
    --clr-body-text-100: #999999;
    --clr-note1: #9C9EA6; /* gray-600 */
    --clr-border-gray: #EAEAEA;
    --clr-border-400: #C7C8C9;
    /* Styling */
    --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}


/* Generic */

    /*RTE config*/

    .rte h3{
        font-size: 2.5rem ;
        color: var(--clr-primary)  ;
        font-weight: 700 ;
    }

    .rte p {
        margin-bottom: 0.75rem;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .text-rte-xl {
        font-size: 4.375rem;
    }

    .text-rte-lg {
        font-size: 2.5rem;
    }

    .text-rte-md {
        font-size: 1.25rem;
    }

    .text-rte-sm {
        font-size: 1rem;
    }

    .text-rte-xs {
        font-size: 0.875rem;
    }

    .font-light {
        font-weight: 300;
    }

    .font-normal {
                font-weight: 400;
    }
    
    .font-bold {
        font-weight: 700;
    }

    .text-primary {
        color: #4F5955;
    }

    .text-secondary {
        color: #D9C3A9;
    }

    .text-body-text {
        color: #535656;
    }

    .text-body-text-100 {
        color: #999999;
    }

    .rte-ul {
        list-style: disc;
        padding-left: 1.25rem;
        margin-top: 0.75rem;
    }

    .rte-ul li {
        font-size: 0.875rem;
        color: #535656;
        margin-bottom: 0.75rem;
    }

    .rte-ul li::marker {
        color: #D9C3A9;
    }

    /* Width Config (used in styling Team Members) */

    .w-1-3 {
        width: 33.333%;
        padding: 0.5rem;
    }

    .w-1-4 {
        width: 25%;
        padding: 0.5rem;
    }

   /* color styling (used for navbar) */
   .current a{
       color: var(--clr-secondary);
   }

/* Top Bar Section */
#topbar {
    background-color: var(--clr-primary);
}

.topbar-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .topbar-container .topbar-address {
        font-size: 0.75rem;
        color: var(--clr-neutral);
    }

    .topbar-container .topbar-social-media-container {
        display:flex;
    }

        .topbar-social-media {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem;
            font-size: 1rem; /* This and the line-height below correspond to text-base in tailwind*/
            line-height: 1.5;
            color: var(--clr-neutral);
            border-left: 1px solid var(--clr-main-light);
            text-decoration: none;
        }

        .topbar-social-media:last-child {
            border-right: 1px solid var(--clr-main-light);
        }

/* Header Section */

#header {
    position: relative;
    box-shadow: var(--shadow-sm);
    z-index: 999;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

    .logo {
        flex-shrink: 0;
    }

    .navbar-items-list {
        display: flex;
        align-items: center;
        gap: 4rem;
        list-style-type: none;
    }

.navbar-item-text {
    font-weight: 700;
    color: var(--clr-primary);
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

    .navbar-item-text:hover {
        color: var(--clr-secondary);

    }

    .navbar-search-icon {
        display: flex;
        align-items: center;
    }

        .navbar-search-icon i {
            font-size: 1.125rem;
            color: var(--clr-primary);
            cursor: pointer;
        }

/* Page Banner (Only there for some pages) */

#banner-section {
    background-color: var(--clr-white-100);
    background-repeat: no-repeat;
    padding: 4rem 0;
    background-image: url('../images/Banner/rectangle-left.svg'),url('../images/Banner/rectangle-right.svg');
    background-position: bottom left, top right;
}

.banner-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

    .banner-container h1 {
        text-align: center;
        font-size: 2.5rem;
        color: var(--clr-primary);
        font-weight: 700;
    }

    .banner-container .banner-breadcrumb-container {
        display: flex;
        justify-content: center;
        gap: 0.75rem;
        padding-top: 0.75rem;
    }

        .banner-breadcrumb-container .breadcrumb{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem; 
            list-style: none;
        }

           .breadcrumb a {
                font-size: 0.875rem;
                color: var(--clr-primary);
                text-decoration: none;
                
                }
            .breadcrumb a:hover {
                color: var(--clr-secondary);
                cursor: pointer;
            }

            .breadcrumb li {
                display: flex;
                align-items: center;
            }

            .breadcrumb i {
                margin-left: 0.25rem;
                display: flex;
                color: var(--clr-primary);
                align-items: center;
                justify-content: center;
                font-size: 10px;
                line-height: 1;
            }

            .breadcrumb .active {
                display: flex;
                align-items: center;
            }

                .breadcrumb .active p {
                    font-size: 0.875rem;
                    color: var(--clr-secondary);
                }



/* Footer Section */

#footer {
    background-color: var(--clr-dark);
}

.footer-container {
    display: flex;
    max-width: 1280px;
    padding: 1.5rem 0;
    margin: 0 auto;
    align-items: center
}

    .footer-container .footer-text {
        color: var(--clr-primary);
        font-size: 0.875rem;
    }

/* Hero Section */

#hero-section {
    position: relative;
    padding: 7rem 0;
    z-index: 10;
}

.hero-bg-image-container {
    position: absolute;
    inset: 0;
}

    .hero-bg-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }


.hero-content-container {
    position: relative;
    max-width: 1200px; /* Tailwind’s default .container max width for large screens */
    margin: 0 auto; 
    padding: 0 1rem;
    z-index: 10;
}


.hero-content {
    width: 42%; /* 5/12 */
    display: flex;
    flex-direction: column;
    gap: 2rem; /* gap-8 = 2rem */
}


.hero-title {
    font-size: 4rem;
    color: #4F5955;
    font-weight: 700;
    line-height: 1; /* leading-none */
    margin: 0;
}

/* text above the button */
.hero-text { 
    
}

.hero-link {
    background-color: #4F5955;
    color: #fff;
    padding: 0.75rem 2.5rem; /* py-3 px-10 => 0.75rem top/bottom, 2.5rem left/right */
    text-decoration: none;
    border-radius: 0.25rem; /* rounded */
    cursor: pointer;
    align-self: flex-start;
    font-weight: 700;
}

/* Service Section */

#service-section {
    padding: 4rem 0; 
}

.service-section-bg-clr-standard {
    background-color: var(--clr-neutral);
}

.service-section-bg-clr-alternate {
    background-color: var(--clr-white-100);
}


    #service-section .service-container {
        max-width: 1280px; /* 7xl = 1280px = 80rem */
        margin: 0 auto; 
        padding-left: 1rem; 
        padding-right: 1rem;
    }


    #service-section .service-header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; 
        align-items: center;
        text-align: center;
    }

    #service-section .service-label {
        font-size: 0.875rem;
        color: var(--clr-secondary);
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    #service-section .service-title {
        /* Inherit styling from .rte in generic */
    }

    #service-section .service-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; 
        margin-top: 1.25rem; /* mt-5 = 1.25rem */
    }

    #service-section .service-card {
        background-color: var(--clr-neutral);
        border: 2px solid var(--clr-white-100);
        width: 100%;
        min-height: 350px;
        overflow: hidden;
        transition: transform 0.2s ease-in-out; 
    }

        #service-section .service-card:hover {
            transform: translateY(-4px); /* I thought it looked neat. */
        }

        #service-section .service-card a {
            display: block;
            text-decoration: none;
            height: 100%;
        }

        #service-section .service-card h4 {
            padding: 1.5rem;
            font-weight: 600;
            color: var(--clr-primary);
            margin: 0;
        }

        #service-section .service-card img {
            display: block;
            width: 100%;
            height: 220px;
            object-fit: cover;
        }

        #service-section .service-card p {
            font-size: 0.875rem; /* text-sm */
            padding: 1.5rem;
            color: var(--clr-primary); 
            margin: 0;
        }

/* Service Detail */

#service-detail {
    padding: 4rem 0;
}

.service-detail-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

    .service-detail-container .service-detail-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .service-detail-content .service-detail-seperator {
        display: block;
        width: 1px;
        background-color: var(--clr-border-gray)
    }

.service-detail-aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .service-detail-info-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
        .service-detail-info-card h2 {
            color: var(--clr-primary);
            font-size: 1.375rem;
            font-weight: 600;
        }

        .service-detail-info-card p {
            color: var(--clr-body-text);
            font-size: 0.875rem;
            font-weight: 400;
        }

    .service-detail-body {
        width: 66.667%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

/* Team Section */

#team-section {
    padding: 4rem 0;
    background-color: var(--clr-neutral);
}

    #team-section .team-section-container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    #team-section .team-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #team-section .team-text-container h2 {
        font-size: 0.875rem;
        color: var(--clr-secondary);
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    #team-section .team-memberList-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.25rem;
        padding: 1.25rem 0;
        margin: 0 -0.5rem;
    }

/* Team Section: Member card */

.team-member-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--clr-border-gray)
}

.team-member-image {
    width: 100%;
    object-fit: cover;
}

.team-member-text {
    padding: 1rem;
}

    .team-member-text h4 {
        font-weight: 600;
    }

    .team-member-text p {
        font-size: 0.875rem;
        color: var(--clr-note1);
    }