<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7eeae8d-d48c-43ce-ac30-7778acb93e59" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "078fef09-3df1-45f2-909f-148666b0d07f"
    },
    {
      "contentElementTypeKey": "390df406-1c60-4c64-928b-864a1c3d68a6",
      "settingsElementTypeKey": "20727435-f38d-425c-b3e3-92031b542a49"
    },
    {
      "contentElementTypeKey": "2c970e63-62b8-43a7-a1a0-ac731c0d5a24"
    },
    {
      "contentElementTypeKey": "4874053b-b6a4-47cc-b519-e1811c10019f",
      "settingsElementTypeKey": "06099d7f-37e5-40f6-9d87-b59b17d588bf"
    },
    {
      "contentElementTypeKey": "30bd7dad-1041-4348-8390-b6fe56bfabd1",
      "settingsElementTypeKey": "64f8b6fa-549a-4e7c-afeb-25d6eef9ac53"
    },
    {
      "contentElementTypeKey": "14c43000-b6b9-4999-bb6e-d64080f4c0d6"
    },
    {
      "contentElementTypeKey": "f6b6bc2a-cccb-4bfd-8f8e-2db8ec23d3ba",
      "label": "Statement: {umbValue: statementImageCaption}"
    },
    {
      "contentElementTypeKey": "4e4a326e-2f1a-41be-9c8c-10f46edb5c0b",
      "label": ""
    },
    {
      "contentElementTypeKey": "d024e8aa-ab8e-4bf0-9fad-228ad61d7b51",
      "settingsElementTypeKey": "06099d7f-37e5-40f6-9d87-b59b17d588bf"
    }
  ]
}]]></Config>
</DataType>