<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f556b62c-ac63-4e99-9815-c35315e152cb" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ad462d5e-a56b-4607-a238-c6bc79b012ad"
    }
  ]
}]]></Config>
</DataType>