<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9deaf3b-babc-400d-905b-e3edc1ff9510" Alias="Site Settings - Platform List " Level="1">
  <Info>
    <Name>Site Settings - Platform List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d262976e-22bf-4b26-8af0-c615c92235c4",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>