<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e49fc093-923e-4e1f-8c9c-cf867258001c" Alias="Team Member List " Level="1">
  <Info>
    <Name>Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "310e333c-87db-41cd-a036-52aebd38c645",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>