<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a4a4ea38-40f6-4304-98e0-b55023ec4562" Alias="homePage" Level="2">
  <Info>
    <Name>Home page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="643d9a39-868f-4afa-8fd3-f3409cffd361">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="93ddc739-4d44-4252-adde-1095f81db95f" SortOrder="0">contactPage</ContentType>
    <ContentType Key="2fb66dd1-911f-445b-b900-08d085d82eab" SortOrder="1">servicePage</ContentType>
    <ContentType Key="5f91fb93-04b6-430a-a3d8-1bc34ba6cda4" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5ed346d6-f74a-44cb-a447-aa8f8c27245f</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>f7eeae8d-d48c-43ce-ac30-7778acb93e59</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d3418178-2eb3-4057-880c-abb8d0d07ae1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>